.caja {
    width: 200px;
    font-size: 20px;
    border: lightblue solid 2px;
    height: 80px;
    border-radius:12px;
    overflow-y:scroll;
    
}
.botones button {
    width:45px;
    font-size:20px;
    
}
.botones {
    display:block;
    background-color: darkgrey;
    height:150px;
    width:200px;
    padding:1px
}
.p {
    position:relative;
    left:10px;
}

.punto p{
    font-size: 30px;
    position: relative;
    bottom:55px;
    right:2px
}

.botones tr td .punto {
    height: 9px;
    position: relative;
    right:20px;
    bottom:2px;
    width:40px;
}